* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 85, 189);
    font: normal 15pt arial;
}

h1 {
    text-align: center;
    color: azure;
    margin: 15px 0 15px 0;
}

section {
    background: rgb(241, 238, 238);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

select#flista {
    width: 150px;
}

section {

}